.container {
    width: 50vw;
    height: 50vw;
    border: 1px solid black;
}

.grid {
    box-sizing: border-box;
    float: left;
    width: 6.25%;
    height: 6.25%;
    background-color: chartreuse;
}

.grid:after {
    content: '';
    display: table;
    clear: both;
}

#page {
    display: flexbox;
}

.button {

}