* {
    font-family: sans-serif;
}

header {
    background: red;
    background: -webkit-linear-gradient(left, red , orange, green, cyan, blue, violet);
    background: -o-linear-gradient(right, red, orange, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, red, orange, green, cyan, blue, violet);
    background: linear-gradient(to right, red , orange, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

h2 {
    margin-left: 6vw;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;    
}

.container {
    width: 50vw;
    height: 50vw;
    border: 1px solid black;
}

.grid {
    box-sizing: border-box;
    float: left;
    width: 6.25%;
    height: 6.25%;
    background-color: chartreuse;
}

.grid:after {
    content: '';
    display: table;
    clear: both;
}

#page {
    display: flexbox;
}

button {
    font-size: 14px;
}

.buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}